.blog {
  padding-bottom: 150px;
  @media (max-width: 1131px) {
    padding-bottom: 47px;
  }
  @media (max-width: 886px) {
    padding-bottom: 25px;
  }
  @media (max-width: 768px) {
    padding-bottom: 25px;
  }
  @media (max-width: 460px) {
    padding-bottom: 10px;
  }

  &__container {
    padding: 0 190px;
    @media (max-width: 1131px) {
      padding: 0 120px;
    }
    @media (max-width: 1024px) {
      padding: 0 42px;
    }
    @media (max-width: 768px) {
      padding: 0 30px;
    }
    @media (max-width: 460px) {
      padding: 0 10px;
    }
  }

  &__list {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(320px, 645px));
    grid-template-columns: minmax(320px, 645px);
    grid-template-rows: repeat(6, 195px);
    column-gap: 143px;
    row-gap: 50px;
    margin-bottom: 100px;
    grid-auto-flow: column;
    @media (max-width: 1756px) {
      grid-template-rows: repeat(6, 140px);
      justify-content: center;
      column-gap: 81px;
    }
    @media (max-width: 1024px) {
      grid-template-columns: minmax(220px, 400px);
      justify-content: start;
      row-gap: 30px;
      column-gap: 75px;
      margin-bottom: 80px;
    }
    @media (max-width: 980px) {
      grid-template-columns: max-content;
      grid-template-rows: repeat(12, 140px);
      margin-bottom: 55px;
    }
    @media (max-width: 657px) {
      row-gap: 15px;
      grid-template-rows: repeat(12, 90px);
      grid-template-columns: minmax(180px, 320px);
    }
    @media (max-width: 360px) {
      row-gap: 15px;
      grid-template-rows: repeat(12, 60px);
      grid-template-columns: minmax(130px, 250px);
    }
  }
}

.article {
  &__subtitle {
    padding-top: 20px;
    @media (max-width: 360px) {
      padding-top: 0;
    }
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @media (max-width: 360px) {
      -webkit-line-clamp: 2;
    }
  }

  &__link {
    display: grid;
    grid-auto-flow: column;
    color: #8F8F8F;
    column-gap: 30px;
    @media (max-width: 1024px) {
      column-gap: 20px;
    }
    @media (max-width: 768px) {
      justify-content: center;
    }
    @media (max-width: 420px) {
      column-gap: 10px;
    }
  }

  &__image {
    width: 195px;
    height: 195px;
    @media (max-width: 1756px) {
      width: 140px;
      height: 140px;
    }
    @media (max-width: 657px) {
      width: 90px;
      height: 90px;
    }
    @media (max-width: 360px) {
      width: 60px;
      height: 60px;
    }
  }

  &__image img {
    width: 100%;
    height: 100%
  }

  &__subtitle {
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    color: #2D2D2D;
    height: 100%;
    overflow: hidden;
    @media (max-width: 1024px) {
      font-size: 30px;
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 657px) {
      font-size: 18px;
    }
    @media (max-width: 410px) {
      margin-bottom: 0;
    }
  }

  &__subblock {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1756px) {
      align-items: start;
      justify-content: end;
      row-gap: 5px;
    }
  }

  &__views-comments {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__text-block {
    display: flex;
    align-items: center;
    gap: 4px;
    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: transparent;
  }

  &__date,
  &__time,
  &__views-comments {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 1756px) {
      font-size: 10px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 460px) {
      font-size: 8px;
    }
  }
}

.pagination {
  max-width: 254px;
  height: 37px;
  max-height: 37px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__left-arrow,
  &__right-arrow {
    width: 37px;
    height: 37px;
  }

  &__left-arrow,
  &__right-arrow {
    fill: #8F8F8F;
  }

  &__arrow-not-active {
    fill: #8F8F8F;
  }

  &__arrow-active {
    fill: #3670C7;
  }

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    color: #2D2D2D;
  }

  &__item {
    width: 36px;
    height: 36px;
    border: 2px solid #2D2D2D;
    border-radius: 4px;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
  }

  &__item-active {
    border-color: #3670C7;
    color: #3670C7;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}