.article {
  &__views-comments {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__text-block {
    display: flex;
    align-items: center;
    gap: 4px;
    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: transparent;
  }

  &__datetime {
    @media (max-width: 890px) {
      text-align: right;
    }
  }

  &__date,
  &__time,
  &__views-comments {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 1756px) {
      font-size: 10px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 460px) {
      font-size: 8px;
    }
    @media (max-width: 390px) {
      gap: 10px;
    }
  }
}