.navbase {
  padding: 80px 0 81px 0;
  @media (max-width: 1024px) {
    padding: 60px 0 44px 0;
  }
  @media (max-width: 768px) {
    padding: 40px 0 37px 0;
  }
  @media (max-width: 320px) {
    padding: 30px 0 20px 0;
  }
  сolor: $white-color;
  background-color: #2D2D2D;

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
    @media (max-width: 1840px) {
      display: grid;
      row-gap: 60px;
      column-gap: 49px;
      grid-auto-columns: 275px;
      justify-content: start;
      grid-template-areas:
      "shop . ."
      "catalog buyer contacts";
    }
    @media (max-width: 1023px) {
      grid-auto-columns: 207px;
      column-gap: 29px;
    }
    @media (max-width: 764px) {
      grid-template-areas:
      "shop"
      "catalog"
      "buyer"
      "contacts";
      row-gap: 30px;
      grid-auto-columns: 210px;
    }

    &:nth-child(2) {
      display: grid;
      row-gap: 0;
      column-gap: 60px;
      grid-auto-columns: max-content minmax(195px, 480px);
      justify-content: space-between;
      grid-template-areas:
      "copyright author";
      @media (max-width: 1840px) {
        grid-auto-columns: 275px;
        column-gap: 49px;
        justify-content: start;
        grid-template-areas:
        "copyright copyright author";
      }
      @media (max-width: 1023px) {
        grid-auto-columns: 207px;
        column-gap: 29px;
      }
      @media (max-width: 764px) {
        grid-template-areas:
        "copyright author";
        column-gap: 60px;
        justify-content: space-between;
        grid-auto-columns: 107px;
      }
    }
  }

  &__container {
    color: inherit;
  }

  &__logo-block {
    min-width: 190px;
    padding-top: 7px;
    grid-area: shop;
    @media (max-width: 764px) {
      min-width: unset;
      max-width: 127px;
    }
  }

  &__catalog {
    min-width: 510px;
    grid-area: catalog;
    @media (max-width: 1840px) {
      min-width: unset;
    }
  }

  &__contacts {
    min-width: 480px;
    grid-area: contacts;
    @media (max-width: 1840px) {
      min-width: unset;
    }
  }

  &__buyers-info {
    grid-area: buyer;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
    @media (max-width: 1023px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
    @media (max-width: 764px) {
      font-size: 20px;
    }
  }

  &__list {
    max-height: 245px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (max-width: 1840px) {
      max-height: unset;
    }
  }

  &__elem {
    min-width: 255px;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    @media (max-width: 1023px) {
      font-size: 16px;
      min-width: unset;
    }
    @media (max-width: 764px) {
      font-size: 12px;
      font-weight: 400;
      line-height: 120%;
    }

    &:not(:nth-last-child(1)) {
      padding-bottom: 15px;
      @media (max-width: 764px) {
        padding-bottom: 8px;
      }
    }
  }

  &__contacts &__list {
    margin-bottom: 36px;
  }

  &__contacts &__elem {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 764px) {
      font-size: 10px;
    }
  }

  &__list-social {
    display: flex;
    gap: 20px;
    width: fit-content;
  }

  &__author-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  &__block:nth-child(1) {
    margin-bottom: 50px;
  }

  &__copyright,
  &__author-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    max-width: fit-content;
    @media (max-width: 764px) {
      font-size: 10px;
    }
  }

  &__copyright {
    grid-area: copyright;
  }

  &__author-info {
    grid-area: author;
  }
}