.bc {
  padding-bottom: 80px;

  @media (max-width: 1024px) {
    padding-bottom: 60px;
  }
  @media (max-width: 770px) {
    padding-bottom: 50px;
  }
  @media (max-width: 520px) {
    padding-bottom: 30px;
  }

  &__container {
    padding: 0 75px;
    color: #2D2D2D;
    @media (max-width: 770px) {
      padding: 0 25px;
    }
  }

  &__navigation {
    @media (max-width: 770px) {
      margin-bottom: 10px;
    }
  }

  &__bread-crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 21px;
    @media (max-width: 770px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
      max-height: unset;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #525252;
    @media (max-width: 890px) {
      font-size: 12px;
    }
  }

  &__nav-arrow {
    width: 6px;
    height: 10px;
    margin: 0 16px;
  }
}