.article {
  color: $closedark-color;

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: inherit;
    margin-bottom: 40px;
    grid-area: title;
    @media (max-width: 1024px) {
      font-size: 28px;
    }
    @media (max-width: 1015px) {
      margin-bottom: 20px;
    }
    @media (max-width: 420px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__hero {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas:
        "title title adv"
        "text text  adv"
        "sub sub  adv";
    justify-content: space-between;
    column-gap: 143px;
    @media (max-width: 1015px) {
      grid-template-areas:
        "title title"
        "text text"
        "sub sub"
        "adv adv";
    }
  }

  &__text {
    grid-area: text;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 100px;
    @media (max-width: 1024px) {
      font-size: 12px;
      margin-bottom: 136px;
    }
    @media (max-width: 1015px) {
      margin-bottom: 126px;
    }
    @media (max-width: 390px) {
      margin-bottom: 21px;
    }
    @media (max-width: 420px) {
      font-size: 12px;
      margin-bottom: 123px;
    }
  }

  &__subblock {
    grid-area: sub;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    @media (max-width: 1015px) {
      margin-bottom: 64px;
    }
    @media (max-width: 767px) {
      margin-bottom: 0px;
    }
  }

  &__backlink {
    display: flex;
    justify-content: center;
    @media (max-width: 1015px) {
      align-items: center;
    }
  }

  &__about-info {
    max-height: 114px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__link-text {
    padding-top: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 1024px) {
      font-size: 14px;
    }
    @media (max-width: 420px) {
      font-size: 10px;
    }
  }

  &__left-arrow {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #2D2D2D;
  }

  &__author {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #000000;
    display: block;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
    @media (max-width: 420px) {
      font-size: 10px;
    }
  }

  &__reviews-subblock {
    max-width: 173px;
    color: #8F8F8F;
    height: 61px;
    //display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 390px) {
      height: 49px;
    }
  }

  &__views-comments {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__text-block {
    display: flex;
    align-items: center;
    gap: 4px;
    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: transparent;
  }

  &__datetime {
    @media (max-width: 890px) {
      text-align: right;
    }
  }

  &__date,
  &__time,
  &__views-comments {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 1756px) {
      font-size: 10px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
    @media (max-width: 460px) {
      font-size: 8px;
    }
    @media (max-width: 390px) {
      gap: 10px;
    }
  }
}

.adv {
  grid-area: adv;

  @media (max-width: 767px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    color: $white-color;

    @media (max-width: 1015px) {
      flex-direction: row;
      justify-content: center;
      column-gap: 50px;
    }
  }

  &__link {
    height: 328px;
    width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 37.06%,
              rgba(0, 0, 0, 0.44) 75.75%, rgba(0, 0, 0, 0.64) 100.00%);
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1600px) {
      width: 300px;
      height: 254px;
    }

    @media (max-width: 768px) {
      width: 325px;
      height: 253px;
    }
  }

  &__picture {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-block {
    padding: 0 0 43px 30px;
    z-index: 1;

    @media (max-width: 1600px) {
      padding: 0 0 20px 15px;
    }
  }


  &__text-big {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    max-width: 390px;
    padding-bottom: 10px;

    @media (max-width: 1600px) {
      font-size: 22px;
      max-width: 269px;
    }
  }

  &__text-small {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    bottom: 34px;

    @media (max-width: 1600px) {
      font-size: 14px;
    }
  }
}