.article {

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: inherit;
    margin-bottom: 40px;
    grid-area: title;
    @media (max-width: 890px) {
      font-size: 25px;
    }
  }

  &__hero {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas:
        "title title adv"
        "text text  adv"
        "sub sub  adv";
    justify-content: space-between;
    column-gap: 143px;
    @media (max-width: 768px) {
      grid-template-areas:
        "title title"
        "text text"
        "sub sub"
        "adv adv";
    }
  }

  &__text {
    grid-area: text;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 100px;
    @media (max-width: 890px) {
      font-size: 12px;
      margin-bottom: 40px;
    }
    @media (max-width: 390px) {
      margin-bottom: 21px;
    }
  }

  &__subblock {
    grid-area: sub;
    display: flex;
    justify-content: space-between;
    align-items: end;
    @media (max-width: 390px) {
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__backlink {
    display: flex;
    justify-content: center;
  }

  &__link-text {
    padding-top: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @media (max-width: 890px) {
      font-size: 12px;
    }
  }

  &__left-arrow {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #2D2D2D;
  }

  &__about-info {
    max-height: 114px;
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width: 390px) {
      align-self: end;
    }
  }

  &__author {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #000000;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 890px) {
      font-size: 12px;
    }
    @media (max-width: 390px) {
      margin-bottom: 0px;
    }
  }

  &__reviews-subblock {
    max-width: 173px;
    color: #8F8F8F;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 390px) {
      height: 49px;
    }
  }
}

.adv {
  grid-area: adv;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__link {
    height: 328px;
    width: 532px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  //&__adv-item:nth-child(1)
  //&__adv-image-block {
  //  background-image: linear-gradient(180.72deg, rgba(0, 0, 0, 0) 37.06%,
  //          rgba(0, 0, 0, 0.44) 75.75%, rgba(0, 0, 0, 0.64) 100%), url("../img/article/banner/banner-turkey.jpg");
  //}
  //
  //&__adv-item:nth-child(2)
  //&__adv-image-block {
  //  background-image: linear-gradient(180.72deg, rgba(0, 0, 0, 0) 37.06%,
  //          rgba(0, 0, 0, 0.44) 75.75%, rgba(0, 0, 0, 0.64) 100%), url("../img/article/banner/banner-reno.jpg");
  //}

  //&__adv-item:not(:nth-last-child(1)) {
  //  margin-bottom: 50px;
  //}

  &__image-block {
    position: relative;
  }

  &__image-text-block * {
    position: absolute;
    color: white;
    left: 30px;
  }

  &__text-big {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    max-width: 435px;
  }

  &__text-small {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    bottom: 34px;
  }

  &__item:nth-child(1)
  &__text-big {
    bottom: 57px;
  }

  &__item:nth-child(2)
  &__text-big {
    bottom: 72px;
  }


  &__item:nth-child(1)
  &__text-small {
    bottom: 27px;
  }

  &__item:nth-child(2)
  &__text-small {
    bottom: 38px;
  }
}