.details {
  color: $closedark-color;

  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__cart-info {
    width: 420px;
    height: 367px;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    padding: 40px;
  }

  &__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 69px;
  }

  &__figure {
    width: 757px;
    height: 427px;
    position: relative;

    &:after {
      position: absolute;
      width: 88px;
      height: 88px;
      top: 20px;
      right: 20px;
      border-radius: 50px;
      background-color: #FFBD13;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 130%;
      color: #FFFFFF;
    }
  }

  &__image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  &__price-block {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 24px;
    margin-bottom: 7px;
  }

  &__new-price {
    color: $red-F00;
    font-size: 36px;
    font-weight: 700;
  }

  &__old-price {
    color: $closedark-color;
    font-size: 22px;
    font-weight: 400;
    text-decoration: line-through;
  }

  &__credit-from {
    color: $blue-3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
  }

  &__add-block {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 30px;
  }

  &__add-to-card {
    border-style: none;
    background-color: $blue-3670C7;
    color: $white-color;
    padding: 17px 42px;
    border-radius: 10px;
    max-width: 290px;

    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__add-to-favorite {
    border-style: none;
    background-color: transparent;
    width: 33px;
    height: 33px;
  }

  &__add-to-favorite-icon {
    width: 100%;
    height: 100%;
    fill: $blue-3670C7;
  }

  &__warn-block{
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__price-reduction-btn {
    border-style: none;
    background-color: transparent;
    width: 24px;
    height: 24px;

  }

  &__price-reduction-bell-svg {
    width: 100%;
    height: 100%;
    fill: $blue-3670C7;
  }

  &__price-reduction-text {
    font-size: 16px;
    color: $blue-3670C7;
    font-weight: 700;
    line-height: 130%;
  }

  &__info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template-areas:
    "delry seller"
    "deldate org";
    grid-row-gap: 5px;
    max-width: 290px;
    margin-bottom: 33px;
  }

  &__text-info:nth-child(1) {
    grid-area: delry;
  }

  &__text-details:nth-child(2) {
    grid-area: deldate;
  }

  &__text-info:nth-child(3) {
    grid-area: seller;
  }

  &__text-details:nth-child(4) {
    grid-area: org;
  }
}