.footer {
  padding: 80px 0;
  сolor: $white-color;
  background-color: #2D2D2D;

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
  }

  &__container {
    color: inherit;
  }

  &__logo-block {
    min-width: 190px;
    padding-top: 7px;
  }

  &__catalog {
    min-width: 510px;
  }

  &__contacts {
    min-width: 480px;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
  }

  &__list {
    max-height: 245px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__elem {
    min-width: 255px;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;

    &:not(:nth-last-child(1)) {
      padding-bottom: 15px;
    }
  }


  &__contacts &__list {
    margin-bottom: 36px;
  }


  &__contacts &__elem {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__list-social {
    display: flex;
    gap: 20px;
  }

  &__author-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-width: 475px;
  }

  &__block:nth-child(1) {
    margin-bottom: 50px;
  }

  &__copyright,
  &__author-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }
}