.header {
  padding-top: 27px;
  padding-bottom: 45px;

  @media (max-width: 1340px) {
    padding-top: 34px;
    padding-bottom: 30px;
  }
  @media (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (max-width: 520px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    display: grid;
    grid-template-columns: max-content max-content minmax(280px, 757px) max-content;
    grid-template-rows: 54px;
    column-gap: 50px;
    justify-content: space-between;
    grid-template-areas:
    "logo menu search search nav";

    @media (max-width: 1340px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 54px 54px;
      gap: 50px;
      grid-template-areas:
      "logo . . nav"
      "menu search search search"
    ;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 42px 42px;
      column-gap: 0;
      row-gap: 29px;
    }
    @media (max-width: 520px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30px 30px;
      row-gap: 20px;
      column-gap: 0;
      grid-template-areas:
      "logo nav"
      "menu search"
    ;
    }
  }

  &__logo-block {
    display: flex;
    max-width: 190px;
    grid-area: logo;
    @media (max-width: 1340px) {
    }
    @media (max-width: 768px) {
      width: 165px;
    }
    @media (max-width: 520px) {
      width: 114px;
    }
  }

  &__button-menu {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    width: 151px;
    background-color: $blue-color;
    color: $white-color;
    border: none;
    border-radius: 10px;
    padding-left: 61px;
    margin-left: 2px;
    grid-area: menu;

    &:before {
      content: "";
      position: absolute;
      height: 12px;
      width: 18px;
      left: 33px;
      background-image: url("../../img/header/menu.svg");
      background-size: contain;
    }

    @media (max-width: 1340px){
    }
    @media (max-width: 768px) {
      width: 115px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 6px;
      padding: 0 21px 0 49px;

      &:before {
        left: 24px;
      }
    }
    @media (max-width: 520px) {
      width: 79px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      padding: 0 14px 0 31px;

      &:before {
        height: 7px;
        width: 10.5px;
        left: 15px;
      }
    }
  }

  &__form-search {
    position: relative;
    max-width: 757px;
    grid-area: search;
    @media (max-width: 1340px) {
      max-width: 910px;
    }
    @media (max-width: 768px) {
      max-width: 700px;
    }
    @media (max-width: 520px) {
      max-width: 520px;
    }
  }

  &__navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    grid-area: nav;

    @media (max-width: 1340px) {
    }
    @media (max-width: 768px) {
      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
    }
    @media (max-width: 520px) {
      font-size: 8px;
      font-weight: 700;
      line-height: 15.6px;
      align-items: end;
    }
  }
}

.form-search {

  &__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    border: none;
    border-radius: 30px;
    background-color: $grey-color;
    color: $lightgrey-color;
    text-indent: 40px;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 15.6px;
    }
    @media (max-width: 520px) {
      font-size: 8px;
      line-height: 10.4px;
    }
  }

  &__button {
    position: absolute;
    right: 0px;
    top: 0;
    width: 101px;
    height: 100%;
    border: none;
    border-radius: 30px;
    background-color: $blue-color;
    @media (max-width: 768px) {
      width: 82px;
    }
    @media (max-width: 520px) {
      width: 50px;
    }
  }

  &__button-img {
    @media (max-width: 768px) {
      width: 21px;
    }
    @media (max-width: 520px) {
      width: 15px;
    }
  }
}

.navigation {
  &__list {
    display: flex;
    height: 100%;
    gap: 60px;
    color: $darkgrey-color;

    @media (max-width: 768px) {
      justify-content: end;
      gap: 30px;
    }
    @media (max-width: 520px) {
      gap: 20px;
    }
  }

  &__item {
    width: fit-content;
    height: 44px;
    @media (max-width: 520px) {
      width: 30px;
      height: 30px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 520px) {
      visibility: hidden;
      line-height: 0;
    }
  }

  &__link-img {
    width: 24px;
    height: 24px;
    @media (max-width: 520px) {
      width: 30px;
      height: 30px;
      visibility: visible;
    }
  }

  &__item-cart {
    position: relative;
  }

  &__cart-count {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -5px;
    right: 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: $blue-color;
    background-color: $white-color;
    @media (max-width: 768px) {
      right: 5px;
    }
    @media (max-width: 520px) {
      top: -2px;
      right: -10px;
    }
  }
}