.item {
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    padding-bottom: 45px;
  }
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
  @media (max-width: 520px) {
    padding-bottom: 35px;
  }
  color: $white-FFFFFF;

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 210px) repeat(4, 228px);

    grid-template-areas:
    "banner banner banner banner banner banner"
    "banner banner banner banner banner banner"
    "book   time   pair   pair   gift   gift"
    "shoe   shoe   pair   pair   december   december"
    "ny     ny     ny     ny     dress   chemi"
    "ny     ny     ny     ny     dress   toys";
    gap: 60px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 160px) 202px repeat(3, 194px) repeat(2, 214px);
      column-gap: 30px;
      row-gap: 22px;

      grid-template-areas:
    "banner banner banner banner"
    "banner banner banner banner"
    "book   time   pair   pair  "
    "shoe   shoe   pair   pair  "
    "gift   gift   dress  chemi"
    "december     december     dress  toys"
    "ny     ny     ny     ny"
    "ny     ny     ny     ny";
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr 1.3fr 1.3fr;
      grid-template-rows: repeat(2, 138px) 130px repeat(3, 126px) repeat(2, 157.5px);
      column-gap: 20px;
      row-gap: 22px;
    }
    @media (max-width: 599px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 160px) repeat(8, 130px) repeat(1, 123px);
      gap: 20px;

      grid-template-areas:
    "banner banner "
    "banner banner "
    "book   time   "
    "shoe   shoe   "
    "pair   pair   "
    "pair   pair   "
    "gift   gift"
    "december     december"
    "dress     chemi"
    "dress     toys"
    "ny     ny";

    }
  }

  &__gallery-notebook {
    grid-area: banner;

    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 137px;

    &:before {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }

    @media (max-width: 599px) {
      align-items: center;
      gap: 168px;
    }
    @media (max-width: 540px) {
      gap: 163px;
    }
  }

  picture {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__image-items {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    @media (max-width: 890px) {
      transform: scale(1.3);
    }
    @media (max-width: 690px) {
      transform: scale(1.5);
    }
    @media (max-width: 415px) {
      transform: scale(1.1);
    }
  }

  &__gallery * {
    z-index: 1;
  }

  &__gallery {
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:after {
      background-color: $yellow-ffbd13;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      @media (max-width: 768px) {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      //z-index: -1;
    }
  }

  &__gallery-book {
    grid-area: book;
    display: flex;
    align-items: end;

    &:before {
      background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
    }
  }

  &__gallery-time {
    grid-area: time;
    display: flex;

    &:before {
      background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
    }

    &:after {
      content: "-25%";
      @media (max-width: 768px) {
        bottom: 10px;
        right: 10px;
      }
    }
  }

  &__gallery-shoes {
    grid-area: shoe;
    display: flex;

    &:before {
      background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%);
    }

    &:after {
      content: "-40%";
      @media (max-width: 768px) {
        top: 10px;
        left: 10px;
      }
    }
  }

  &__gallery-second-pair {
    grid-area: pair;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;

    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%);
    }

    @media (max-width: 599px) {
      text-align: center;
    }
  }

  &__gallery-gift-ideas {
    grid-area: gift;
    display: flex;
    align-items: end;
    text-align: start;

    &:before {
      border-radius: 20px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  &__gallery-profitable-december {
    grid-area: december;
    display: flex;
    align-items: end;
    justify-content: flex-start;

    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%)
    }

    &:after {
      content: "-15%";
      @media (max-width: 768px) {
        bottom: 10px;
        right: 10px;
      }
    }
  }

  &__gallery-new-year {
    grid-area: ny;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    margin-top: 32px;

    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%);
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__gallery-dresses {
    grid-area: dress;

    &:before {
      background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
    }

    &:after {
      content: "-55%";
      @media (max-width: 768px) {
        bottom: 10px;
        right: 10px;
      }
    }
  }

  &__gallery-chemicals {
    grid-area: chemi;
    display: flex;
    align-items: end;
    justify-content: flex-start;

    &:before {
      background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
    }

    &:after {
      content: "-25%";
      @media (max-width: 768px) {
        top: 10px;
        left: 10px;
      }
    }
  }

  &__gallery-ny-toys {
    grid-area: toys;

    &:before {
      background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%);
    }
  }

  &__timer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &__text-bold {
    font-weight: 700;
  }

  &__text-big {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    @media (max-width: 768px) {
      font-size: 26px;
      line-height: 28.6px;
    }
    @media (max-width: 599px) {
      font-size: 16px;
      line-height: 17.6px;
    }
  }

  &__gallery-notebook-changed {
    align-items: center;
    justify-content: center;
  }

  &__text-notebook {
    max-width: fit-content;
    max-height: 130%;
    padding-left: 112px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    @media (max-width: 768px) {
      padding-left: 80px;
      font-size: 30px;
      line-height: 39px;
    }
    @media (max-width: 599px) {
      padding: 0;
      font-size: 22px;
      line-height: 28.6px;
      max-width: 225px;
    }
  }

  &__text-notebook-changed {
    padding-left: 0;
    padding-bottom: 30px;
    @media (max-width: 1510px) {
      font-size: 55px;
    }
    @media (max-width: 1200px) {
      font-size: 40px;
    }
    @media (max-width: 890px) {
      max-width: 400px;
      padding: 0;
    }
    @media (max-width: 768px) {
      padding: 0;
      text-align: center;
    }
    @media (max-width: 710px) {
      font-size: 20px;
    }
  }

  &__text-book {
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    font-size: 26px;
    font-weight: 400;
    line-height: 31.2px;
    margin: auto auto 15px 10px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 22px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 13.2px;
    }
  }

  &__gallery-discount-bottom-left:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  &__gallery-discount-top-left:after {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__text-time {
    padding-top: 67px;
    padding-left: 14px;

    font-size: 30px;
    font-weight: 700;
    line-height: 31.2px;
    @media (max-width: 1800px) {
      padding-top: 15px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 15.6px;
    }
  }

  &__image-shoes {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__text-second-pair {
    max-height: 167px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding: 24px 26px;
    background-color: $blue-38c0eb;
    border-radius: 20px;
    margin: auto 20px 20px 20px;
    max-width: 1440px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 17.6px;
      padding: 12px 15px 18px 15px;
      border-radius: 12px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 13.2px;
      padding: 7px 25px 11px 25px;
      margin: auto 10px 10px 10px;
    }
    @media (max-width: 323px) {
      padding: 7px 20px 11px 20px;
    }
  }

  &__text-new-ideas {
    max-width: 378px;
    font-weight: 700;
    padding: 0 0 30px 30px;

    font-size: 30px;
    line-height: 39px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19.2px;
    }
    @media (max-width: 709px) {
      max-width: 240px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 14.4px;
    }
  }

  &__text-profitable-december {
    font-weight: 700;
    padding: 0 0 40px 30px;

    top: 119px;
    left: 30px;
    font-size: 30px;
    line-height: 39px;
    @media (max-width: 1880px) {
      max-width: 300px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 19.2px;
    }
    @media (max-width: 680px) {
      max-width: 120px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 14.4px;
      max-width: 150px;
    }
  }

  &__text-new-year {
    text-transform: uppercase;
    font-weight: 700;
    color: $red-f91155;
    background-color: $white-FFFFFF;
    border-radius: 20px;
    top: 300px;
    left: 30px;
    font-size: 30px;
    line-height: 36px;
    padding: 24px 46px;
    margin: auto auto 39px 30px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 24px;
      padding: 22px 34px;
      border-radius: 12px;
      margin: auto auto 26px 26px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 14.4px;
      padding: 7px 41px;
      margin: auto auto 10px 15px;
    }
  }

  &__text-chemicals {
    font-weight: 700;
    padding: 0 0 12px 20px;
    font-size: 20px;
    line-height: 22px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 18px;
      max-width: 170px;
    }
    @media (max-width: 599px) {
      font-size: 12px;
      line-height: 14.4px;
      padding: 0 10px 5px 9px;
    }
  }

  &__image-ny-toys {
    transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.5);
    object-fit: cover;
    object-position: 21px -1px;
    height: 100%;
    width: 100%;
  }
}
