.timer {
  max-height: 104px;
  text-align: center;
  @media (max-width: 462px) {
    padding-bottom: 15px;
  }

  &__block {
    display: flex;
    justify-content: center;
    gap: 10px;

    & p {
      display: flex;
      align-items: baseline;
      gap: 7px;

      @media (max-width: 1200px) {
        gap: 10px;
      }
    }

    @media (max-width: 1200px) {
      gap: 5px;
    }

    @media (max-width: 710px) {
      display: flex;
      gap: 8px;
    }
    @media (max-width: 462px) {
      flex-wrap: wrap;
      max-width: 181px;
      justify-content: flex-start;
      padding-left: 50px;
    }
  }

  &__block &__count {
    display: flex;
    justify-self: center;
    letter-spacing: 2px;
    width: 88px;
    @media (max-width: 1200px) {
      width: unset;
      min-width: 59px;
    }
    @media (max-width: 710px) {
      min-width: 33px;
    }
  }

  &__count_less-ten {
    max-width: 38px;
    @media (max-width: 1200px) {
      min-width: 22px;
    }
    @media (max-width: 710px) {
      min-width: 15px;
    }
  }

  &__block &__units {
    display: flex;
    justify-self: start;
  }

  &__block p:nth-last-child(1) &__units {
    min-width: 145px;
    @media (max-width: 1200px) {
      min-width: 96px;
    }
    @media (max-width: 710px) {
      min-width: 60px;
    }
  }

  &__block p:nth-last-child(2) &__units {
    min-width: 130px;
    @media (max-width: 1200px) {
      min-width: 89px;
    }
    @media (max-width: 710px) {
      min-width: 55px;
    }
  }

  &__block p:nth-last-child(3) &__units {
    min-width: 97px;
    @media (max-width: 1200px) {
      min-width: 65px;
    }
    @media (max-width: 710px) {
      min-width: 40px;
    }
  }

  &__block p:nth-last-child(4) &__units {
    min-width: 81px;
    @media (max-width: 1200px) {
      min-width: 56px;
    }
    @media (max-width: 710px) {
      min-width: 27px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 10px;
    @media (max-width: 710px) {
      font-size: 8px;
      line-height: 10.6px;
      margin-bottom: 6px;
    }
  }

  &__count {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 52px;
    }
    @media (max-width: 710px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__units {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: 710px) {
      font-size: 12px;
      line-height: 15.6px;
    }
  }
}