@font-face {
  @include font($lato, 400)
}

@font-face {
  @include font($lato, 700)
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;

  @media (max-width: 1200px) {
      max-width: 1200px;
      padding: 0 42px;
  }

  @media (max-width: 768px) {
      max-width: 768px;
      padding: 0 34px;
  }

  @media (max-width: 520px) {
      max-width: 520px;
      padding: 0 20px;
  }
}