$inter: "Inter";
$lato: "Lato";

$black-color: #000000;
$white-color: #FFFFFF;
$blue-color: #3670c7;
$grey-color: #efefef;
$lightgrey-color: #8f8f8f;
$closedark-color: #2d2d2d;
$yellow-color: #ffbd13;
$lightblue-color: #38c0eb;
$red-color: #f91155;

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../font/#{$name}-#{$weight}.ttf") format("truetype");
}