.basket {
  color: $black-2d2d2d;

  &__container {
    display: grid;
    grid-template-columns: minmax(940px, 1320px) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "list total"
        "delivery total";
    column-gap: 30px;
    row-gap: 30px;
    @media (max-width: 1540px) {
      grid-template-columns: minmax(940px, 100%);
      grid-template-areas:
    "list"
    "delivery"
    "total";
      row-gap: 30px;
    }
    @media (max-width: 1023px) {
      grid-template-columns: minmax(280px, 100%);
      row-gap: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list,
  &__delivery-options,
  &__total {
    border-radius: 16px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    padding: 30px 40px;
    @media (max-width: 1023px) {
      border-radius: 0px;
      box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
      padding: 30px 64px;
    }
    @media (max-width: 666px) {
      padding: 15px 20px;
    }
  }

  &__list {
    grid-area: list;
    height: fit-content;
    @media (max-width: 1540px) {
      height: unset;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      font-size: 40px;
    }
    @media (max-width: 1023px) {
      font-size: 28px;
    }
    @media (max-width: 666px) {
      font-size: 18px;
    }
  }

  &__title-block {
    position: relative;
    width: fit-content;
  }

  &__cart-count {
    position: absolute;
    top: 6px;
    right: -29px;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 1024px) {
      top: -9px;
    }
    @media (max-width: 666px) {
      font-size: 12px;
      right: -9px;
    }
  }

  &__list-manage-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }


  &__trascan-block {
    display: flex;
    justify-content: end;
  }

  &__trascan-block
  &__trashcan-btn {
    display: none;
    @media (max-width: 880px) {
      display: block;
      border: none;
      background-color: transparent;
      grid-area: trash;
      width: 24px;
      height: 24px;
    }
  }

  &__trascan-block
  &__trashcan-svg {
    width: 24px;
    height: 24px;
    z-index: -1;
  }

  &__list-manage-block
  &__trashcan-btn {
    height: 30px;
    border: none;
    z-index: 2;
    @media (max-width: 880px) {
      display: none;
    }
  }

  &__choose-all {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__choose-all-text {
    color: $grey-525252;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 1023px) {
      font-size: 14px;
    }
    @media (max-width: 666px) {
      font-size: 10px;
    }
  }

  &__items-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list-item {
    display: flex;
    align-items: start;
    gap: 12px;
    @media (max-width: 880px) {
    }
  }

  &__list-item
  &__picture {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    @media (max-width: 880px) {
      width: 91px;
      height: 91px;
    }
  }

  &__list-all-info-block {
    display: grid;
    grid-template-columns:
            fit-content(100%)
            minmax(200px, 600px)
            minmax(102px, 300px)
            152px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    @media (max-width: 880px) {
      grid-template-columns:
              max-content
              1fr;
      grid-template-rows: .5fr 1fr;
      justify-content: start;
      align-items: start;
      grid-template-areas:
      "pict price"
      "pict info"
      "quaty trash";
      row-gap: 0px;
      column-gap: 11px;
      width: 100%;
    }
  }

  &__list-item-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 23px;
    @media (max-width: 880px) {
      position: relative;
      align-items: start;
      width: fit-content;
      height: fit-content;
      grid-area: pict;
      margin-bottom: 15px;
    }
  }

  &__list-text-block {

    display: flex;
    align-items: start;
    height: 100%;

    @media (max-width: 1320px) {
      display: block;
      height: unset;
    }
    @media (max-width: 880px) {
      grid-area: info;
    }
  }

  &__list-quantity-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media (max-width: 880px) {
      grid-area: quaty;
      gap: 3px;
      justify-content: space-between;
    }
  }

  &__list-price-block {
    @media (max-width: 880px) {
      grid-area: price;
      display: flex;
      column-gap: 12px;
      align-items: center;
      margin-bottom: 19px;
    }
    @media (max-width: 520px) {
      max-width: 131px;
      flex-wrap: wrap;
      row-gap: 9px;
    }
  }

  &__list-text-main {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    max-width: 470px;
    -webkit-box-orient: vertical;
    @media (max-width: 1700px) {
      max-width: 369px;
    }
    @media (max-width: 1540px) {
      max-width: 470px;
    }
    @media (max-width: 1150px) {
      max-width: 260px;
      -webkit-line-clamp: 2;
    }
    @media (max-width: 880px) {
      font-size: 18px;
      margin-bottom: 0;
      max-width: unset;
    }
    @media (max-width: 520px) {
      font-size: 12px;
      max-width: 169px;
    }
  }

  &__list-text-additional {
    color: $grey-8F8F8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    @media (max-width: 880px) {
      font-size: 10px;
    }
    @media (max-width: 880px) {
      display: none;
    }
  }

  &__plus-svg-text {
    fill: $black-2d2d2d;
    font-size: 17px;
  }

  &__quantity-text {
    font-size: 22px;
    @media (max-width: 880px) {
      font-size: 18px;
    }
  }

  &__minus-btn,
  &__plus-btn {
    width: 36px;
    height: 36px;
    border: 1px solid $grey-E8E8E8;
    border-radius: 20px;
    background-color: transparent;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 880px) {
      width: 28px;
      height: 28px;
      font-size: 12px;
    }
  }

  &__minus-btn {
    color: $grey-E8E8E8;
  }


  &__minus-svg-text {
    fill: $grey-8F8F8F;
    font-size: 17px;
  }

  &__quantity-ipnut {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
  }


  &__list-price-block
  *:not(:nth-last-child(1)) {
    margin-bottom: 6px;
    @media (max-width: 880px) {
      margin-bottom: 0;
    }
  }

  &__list-price-block-new
  span {
    font-size: 26px;
    font-weight: 700;
    @media (max-width: 880px) {
      font-size: 22px;
    }
    @media (max-width: 520px) {
      font-size: 16px;
    }
  }

  &__list-price-block-new,
  &__list-price-block-old {
    display: flex;
    justify-content: end;
    @media (max-width: 880px) {
      justify-content: start;
    }
  }

  &__credit-from {
    color: $blue-3670C7;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    display: flex;
    justify-content: end;
    @media (max-width: 880px) {
      font-size: 12px;
    }
    @media (max-width: 520px) {
      font-size: 10px;
    }
  }

  &__list-price-block-old
  span {
    color: $grey-8F8F8F;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    @media (max-width: 880px) {
      font-size: 12px;
    }
    @media (max-width: 520px) {
      font-size: 10px;
    }
  }

  &__list-price-block
  div:nth-child(2) {
    margin-bottom: 15px;
    @media (max-width: 880px) {
      margin-bottom: 0;
    }
  }

  &__underline {
    height: 1px;
    width: 100%;
    background-color: $grey-E8E8E8;
    margin-bottom: 20px;
  }

  &__total {
    grid-area: total;
    width: 420px;
    height: fit-content;
    padding: 30px 31px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
      width: 100%;
      padding: 30px 30px;
    }
    @media (max-width: 666px) {
      padding: 15px 20px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-block span {
    @media (max-width: 666px) {
      font-size: 16px;
    }
  }

  &__price-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 666px) {
    }
  }

  &__item-block &__price {
    margin-bottom: 0px;
  }

  &__item-block {
    margin-bottom: 20px;
  }

  &__total-text {
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__total-value {
    font-size: 26px;
    font-weight: 700;
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 1023px) {
      gap: 15px;
    }
  }

  &__item-block span {
    @media (max-width: 666px) {
      font-size: 10px;
    }
  }

  &__time-address,
  &__item-details-text,
  &__item-details-value
  {
    color: $grey-8f8f8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__time-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__time-address p {
    @media (max-width: 666px) {
      font-size: 10px;
    }
  }

  &__info-block {
    &:nth-last-child(3) {
      margin-bottom: 55px;
      @media (max-width: 666px) {
        margin-bottom: 40px;
      }
    }

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }

    &:nth-last-child(1) {
      margin-bottom: 30px;
    }
  }

  &__info-block span,
  &__info-block a,
  {
    @media (max-width: 666px) {
      font-size: 10px;
    }
  }

  &__info-text-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 1023px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info-link {
    color: $red-3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__order-btn {
    border-style: none;
    padding: 14px 100px;
    border-radius: 10px;
    background: $blue-3670C7;
    color: $white-FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    max-width: 266px;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 666px) {
      padding: 14px 0;
      font-size: 12px;
    }
  }

  &__label {
    color: $grey-525252;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__list-item-block
  &__label {
    @media (max-width: 880px) {
      position: absolute;
    }
  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
  }

  &__checkbox-icon {
    display: flex;
    align-items: center;
    gap: 14px;

    @media (max-width: 520px) {
      font-size: 10px;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $black-000000;
      border-radius: 2px;
      z-index: 1;
      background-color: white;
    }
  }

  &__checkbox-input:focus + &__checkbox-icon:before {
    outline: 1px solid $yellow-ffbd13;
    outline-offset: 2px;
  }


  &__checkbox-input:checked + &__checkbox-icon:before {
    border: none;
    background-image: url(../../../svg/basket/checkmark.svg);
    background-size: 20px 20px;
  }

  &__agreement {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 666px) {
      padding: 14px 0;
    }
  }

  &__agree-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    @media (max-width: 666px) {
      font-size: 10px;
    }
  }

  &__agree-link {
    color: $grey-525252;
  }

  &__delivery-options {
    grid-area: delivery;
  }

  &__dely-block:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 666px) {
      margin-bottom: 10px;
    }
  }


  &__dely-block:nth-child(1)
  &__title {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  &__dely-link {
    color: $blue-3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 666px) {
      font-size: 12px;
    }
  }


  &__dely-block:nth-child(2) *,
  &__dely-block:nth-child(3) * {
    font-size: 10px;
  }


  &__dely-block:nth-child(2)
  &__dely-name,
  &__dely-block:nth-child(3)
  &__dely-name {
    display: none;
  }

  &__dely-block:nth-child(3)
  &__dely-value {
    @media (max-width: 666px) {
      font-size: 12px;
      color: $grey-8F8F8F;
    }
  }

  &__dely-block:nth-child(2) {
    margin-bottom: 15px;
  }

  &__dely-block:nth-child(3) {
    margin-bottom: 30px;
  }

  &__dely-block:nth-child(2),
  &__dely-block:nth-child(3),
  &__dely-block:nth-child(4) {
    display: flex;
    gap: 113px;
    align-items: center;
  }

  &__dely-block:nth-child(4) {
    @media (max-width: 666px) {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 15px;
    }
  }

  &__dely-name {
    min-width: 153px;
    color: $grey-8F8F8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__dely-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__dely-estim-date {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    min-width: 153px;
    @media (max-width: 666px) {
      font-size: 12px;
    }
  }

  &__picture {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid $grey-E8E8E8;
    overflow: hidden;
    @media (max-width: 880px) {
      width: 60px;
      height: 60px;
    }
  }

  &__image-small {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &__dely-picture-block {
    display: flex;
    flex-direction: row;
    gap: 17px;
    flex-wrap: wrap;
  }
}
