.basket {
  color: $closedark-color;

  &__container {
    display: grid;
    grid-template-columns: minmax(940px, 1320px) 1fr;
    grid-template-areas:
    "list total"
    "delivery .";
    column-gap: 30px;
    row-gap: 0px;
    @media (max-width: 1540px) {
      grid-template-columns: minmax(940px, 100%);
      grid-template-areas:
    "list"
    "delivery"
    "total";
      row-gap: 30px;
    }
    @media (max-width: 1023px) {
      grid-template-columns: minmax(280px, 100%);
      row-gap: 20px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list,
  &__delivery-options,
  &__total {
    border-radius: 16px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    padding: 30px 40px;
    @media (max-width: 1023px) {
      border-radius: 0px;
      box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
      padding: 30px 64px;
    }
    @media (max-width: 666px) {
      padding: 15px 20px;
    }
  }

  &__list {
    grid-area: list;
    height: 497px;
    @media (max-width: 1540px) {
      height: unset;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      font-size: 40px;
    }
    @media (max-width: 1023px) {
      font-size: 28px;
    }
  }

  &__title-block {
    position: relative;
    width: fit-content;
  }

  &__cart-count {
    position: absolute;
    top: 6px;
    right: -18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    @media (max-width: 1024px) {
      top: 1px;
    }
  }

  &__underline {
    height: 1px;
    width: 100%;
    background-color: $grey-E8E8E8;
    margin-bottom: 43px;
  }

  &__total {
    grid-area: total;
    width: 420px;
    height: fit-content;
    padding: 30px 31px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1023px) {
      width: 100%;
      padding: 30px 30px;
    }
    @media (max-width: 666px) {
      padding: 15px 20px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-block &__price {
    margin-bottom: 20px;
  }

  &__item-block &__price {
    margin-bottom: 0px;
  }

  &__item-block {
    margin-bottom: 20px;
  }

  &__total-text {
    font-size: 26px;
    font-weight: 700;

    &:nth-child(1) {
      text-transform: capitalize;
    }
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__time-address,
  &__item-details {
    color: $lightgrey-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__time-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__info-block {
    margin-bottom: 10px;

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }

    &:nth-last-child(1) {
      margin-bottom: 30px;
    }
  }

  &__info-text-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__info-link {
    color: $red-3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__order-btn {
    border-style: none;
    padding: 14px 100px;
    border-radius: 10px;
    background: $blue-3670C7;
    color: $white-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    max-width: 266px;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
      justify-content: center;
    }
  }

  &__checkbox-checked-svg {
    justify-content: stretch;
  }

  &__agreement {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__agree-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__agree-link {
    color: $grey-525252;
  }

  &__delivery-options {
    grid-area: delivery;
  }

  &__dely-block:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__dely-block:nth-child(1)
  &__title{

    @media (max-width: 1023px) {
      display: none;
    }
  }

  &__dely-link {
    color: $blue-3670C7;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
  }

  &__dely-block:nth-child(2) {
    margin-bottom: 15px;
  }

  &__dely-block:nth-child(3) {
    margin-bottom: 30px;
  }

  &__dely-block:nth-child(2),
  &__dely-block:nth-child(3),
  &__dely-block:nth-child(4) {
    display: flex;
    gap: 113px;
    align-items: center;
  }

  &__dely-name {
    min-width: 153px;
    color: $blue-8F8F8F;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__dely-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__dely-estim-date {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    min-width: 153px;
  }

  &__picture {
    display: block;
    width: 80px;
    height: 80px;
  }

  &__image-small {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__dely-picture-block {
    display: flex;
    flex-direction: row;
    gap: 17px;
  }
}
